<%- include("./../partials/header.ejs") %>

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Login</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 mb-5 text-black">Login</h2>
      </div>
      <div class="col-md-12">
        <form action="#"
          method="post">
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_email"
                  class="text-black">Email </label>
                <input type="email"
                  class="form-control"
                  id="c_email"
                  name="email"
                >
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_password"
                  class="text-black">Password </label>
                <input type="text"
                  class="form-control"
                  id="c_password"
                  name="password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-12">
                <input type="submit"
                  class="btn btn-primary btn-lg btn-block"
                  value="Login">
              </div>
            </div>
          </div>
        </form>
        <div class="text-center mt-3">
          <p>Make new a<a href="register"> Account</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

        <div class="block-7">
          <h3 class="footer-heading mb-4">About <strong class="text-primary">Pharmative</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
            sed dolorum excepturi iure eaque, aut unde.</p>
        </div>

      </div>
      <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">Navigation</h3>
        <ul class="list-unstyled">
          <li><a href="#">Supplements</a></li>
          <li><a href="#">Vitamins</a></li>
          <li><a href="#">Diet &amp; Nutrition</a></li>
          <li><a href="#">Tea &amp; Coffee</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">Nav Shakti Nagar,Adrash Nagar,Andheri West,Mumbai-400069,Maharashtra</li>
            <li class="phone"><a href="tel://8454982994">+91 8454982994</a></li>
            <li class="email"><a href="#">example@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script> All rights reserved
        </p>
      </div>

    </div>
  </div>
</footer>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>

</html>